.login > img {
    top: 0;
    left: 0;
    z-index: -100;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.login__content {
    background: #f5f5f5;
    grid-column: 4/9;
    height: 100vh;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.5);
}

.login__contentButtons {
    grid-column: 1/9;
    align-self: flex-start;
}

.login__contentButtons {
    padding-top: 30px;
}

.login__mainContent {
    grid-column: 2/8;
    margin-top: -80px;
}

.login__title {
    grid-column: 1/4;
    text-align: left;
    
}

.login__title > h4 {
    font-size: 1.4em;
}

.login__title > h2 {
    font-size: 2.5em;
}

.login__fields {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 100%;
    grid-column: 4/9;
    padding-left: 25px;
}

.login__fields > input {
    height: 50px;
    padding: 10px;
    border: none;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 25px;
}

.login__fields > button {
    height: 40px;
    margin-top: 25px;
    width: 40%;
    border: none;
    background: #3F5DFC;
    border-radius: 15px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.spacer {
    height: 150px;
}

#signIn {
    grid-column: 2/3;
    height: 40px;
    background: white;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: bold;
}

#signUp {
    grid-column: 7/8;
    border: none;
    background: transparent;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: #3F5DFC;
}

